<link href="static/styles.css" rel="stylesheet">

<div style="background-image: url('static/background.png');">
  <h1 style="margin-left:20px">Saturn Needs Your Skin</h1>
  <br>



  <p style="margin-left:20px"><a href="https://griffithobservatory.org/explore/observing-the-sky/sky-report/" target="_blank" class="egg">Just before&nbsp;&nbsp;midnight&nbsp;&nbsp;&nbsp;on Halloween</a>&nbsp;&nbsp;&nbsp;Saturn&nbsp;&nbsp;&nbsp;disappears from the sky&nbsp;&nbsp;on a secret mission.<br>
    You will disguise it&nbsp;&nbsp;with your skin and&nbsp;&nbsp;&nbspbecome&nbsp;&nbsp;its&nbsp;&nbsp;&nbspsecret agent.</p>
    <p style="margin-left:20px">Click ~BOTH~ buttons below to send&nbsp;&nbsp;&nbsp;Saturn&nbsp;&nbsp;&nbsp;what you must&nbsp;&nbsp;and begin&nbsp;&nbsp;&nbsp;your&nbsp;&nbsp;&nbsp;transformation...</p>
    <div>
      <!--button class="capture-button">Capture Video</button-->
      <form action="{{ url_for('handle_data') }}" method="post"  enctype=multipart/form-data>
        <input style='display:none' type="text" name="demo" id="imagedata">
        <button style="margin-left:20px; float:left" id="screenshot-button">Click to Take Screenshot</button>
        <input style="margin-left:40px; display:inline" type="submit">
      </form>
    </div>
    <video style="margin-left:20px" id='screenshot-video' autoplay></video>
    <img id="screenshot-img">
    <canvas style="display:none;"></canvas>
  </div>
  <script>
    //const captureVideoButton = document.querySelector(".capture-button");
    const screenshotButton = document.querySelector("#screenshot-button");
    const img = document.querySelector("#screenshot-img");
    const video = document.querySelector("#screenshot-video");
    const canvas = document.createElement("canvas");
    const imageraw = document.querySelector("#imagedata");

    const constraints = {
      video: true,
    };

    navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
      video.srcObject = stream;
    });

    // captureVideoButton.onclick = function () {
    //   navigator.mediaDevices
    //     .getUserMedia(constraints)
    //     .then(handleSuccess)
    //     .catch(handleError);
    // };

    screenshotButton.onclick = video.onclick = function () {
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext("2d").drawImage(video, 0, 0);
      // Other browsers will fall back to image/png
      img.src = canvas.toDataURL("image/png");
      imageraw.value=canvas.toDataURL()
    };

    function handleSuccess(stream) {
      screenshotButton.disabled = false;
      video.srcObject = stream;
    }

    function handleError(error) {
      console.error("Error: ", error);
    }

  </script>
